

.index-header{
    display: flex;
    justify-content: space-between;
    .index-header__search{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}